[Unit]
Description=DRBDManage Service
Documentation=https://www.drbd.org/en/doc/users-guide-90
Requires=dbus.service
Wants=network-online.target sshd.service
After=network-online.target sshd.service

[Service]
ExecStart=/usr/bin/dbus-drbdmanaged-service
User=root
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
